// footer

.footer {
  padding: 30px 20px;
  background: $back-footer;
  color: white;
  display: flex;
  flex-direction: column;

  .footer__title {
    font-size: 24px;
    padding-bottom: 20px;
  }
}

.footer a {
  color: white;
  text-decoration: none;

  padding-bottom: 20px;
}

.footer li {
  padding-bottom: 10px;
  list-style: none;
}

.fa-utensils,
.fa-hands-helping {
  font-size: 13px;
}

.fa-utensils {
  margin-right: 15px;
}

.fa-hands-helping {
  margin-right: 5px;
}
