// Img sous header

.aside_img {
  object-fit: cover;
  width: 100%;
  height: 230px;
}

// Menu

.Menu {
  background: $back-2;
  @include border-top;
  margin-top: -50px;

  .Menu__title {
    font-size: 22px;
    padding: 25px 20px;
    display: flex;
  }
}

// Entrée, plat et déssert

.box-list {
  padding-top: 5px;
  margin-bottom: 40px;
  animation: box-menu 2.2s ease-in;

  .box__title {
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 15px;
    line-height: 24px;
    @include border-title-menu;
  }
}

.Meal-content {
  box-shadow: 2px 2px 4px 2px #dddddd;
  background: white;
  border-radius: 10px;
  margin: 15px 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  height: 60px;

  .Meal__text p {
    display: block;
    padding-left: $padding-10;
    font-size: 13.3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    width: 80%;
  }
}

.price {
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 14px;
}

// Button

.order {
  display: flex;
  width: 100%;
  background: $back-2;
}

@media only screen and (min-width: 1024px) {
  // Aside img

  .aside_img {
    height: 340px;
  }

  // Resto

  .Menu {
    display: flex;
    flex-flow: row nowrap;

    .Menu__title {
      justify-items: center;
      align-items: center;
    }
  }

  .box-list {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 80%;
  }

  .box__title {
    padding-top: 25px;
  }

  .Meal-content {
    margin-left: 4px;
    margin-right: 30px;
    max-width: 85%;
  }

  // heart

  .heart-menu {
    display: flex;

    .fa-heart {
      margin-top: 15px;
      left: 25px;
    }

    .far {
      position: absolute;
    }
  }
}
