// Img sous header

.aside_img {
  object-fit: cover;
  width: 100%;
  height: 230px;
}

// Menu

.Menu {
  background: $back-2;
  @include border-top;
  margin-top: -50px;

  .Menu__title {
    font-size: 22px;
    padding: 25px 20px;
    display: flex;
  }
}

// Entrée, plat et déssert

.box-list {
  display: block;
  padding-top: 5px;
  margin-bottom: 40px;
  // animation: box-menu 2.5s ease-in;

  .box__title {
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 15px;
    line-height: 24px;
    @include border-title-menu;
  }
}

.Meal-content {
  box-shadow: 2px 2px 4px 2px #dddddd;
  background: white;
  border-radius: 10px;
  margin: 15px 14px;

  display: block;

  .Meal__text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: $padding-10;
    padding-bottom: 10px;
    font-size: 13.3px;
    text-overflow: ellipsis;
  }
}

.price {
  margin-right: 20px;
  font-weight: bold;
}

// Button

.order {
  display: flex;
  width: 100%;
}
