@keyframes box-menu {
  0% {
    opacity: 0;
    margin-top: -80px;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h3 {
  font-size: 22px;
  padding-top: 10px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  display: block;
}

h5 {
  padding: 10px;
  padding-bottom: 5px;
  font-size: 17px;
  font-weight: 600;
  display: block;
}

.btn_pink {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  margin-bottom: 20px;
  color: white;
  border: none;
  padding: 15px 20px;
  outline: none;
  box-shadow: 2px 2px 4px #b8b8b8;
  cursor: pointer;
}
.btn_pink:hover {
  box-shadow: 2px 2px 2px 1px gray;
  background: #d571b9;
}

.btn_order {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  margin-bottom: 20px;
  color: white;
  border: none;
  padding: 15px 40px;
  outline: none;
  box-shadow: 2px 2px 4px #b8b8b8;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.btn_order:hover {
  box-shadow: 2px 2px 2px 1px gray;
  background: #d571b9;
}

.header__return {
  font-size: 28px;
  text-decoration: none;
  color: black;
  position: absolute;
  left: 20px;
  top: 14px;
}

.header {
  border-bottom: 1px solid #c9c6c6;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.header .header__title {
  text-decoration: none;
  color: black;
}

.aside_img {
  object-fit: cover;
  width: 100%;
  height: 210px;
  z-index: 0;
}

.Menu {
  background: whitesmoke;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
}
.Menu .Menu__title {
  font-size: 22px;
  padding: 25px 20px;
}

.box-list {
  display: block;
  padding-top: 5px;
  margin-bottom: 40px;
  animation: box-menu 2.5s ease-in;
}
.box-list .box__title {
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 15px;
  line-height: 24px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
}

.Meal-content {
  box-shadow: 2px 2px 4px 2px #dddddd;
  background: white;
  border-radius: 10px;
  margin: 15px 14px;
  display: block;
}
.Meal-content .Meal__text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 13.5px;
  text-overflow: ellipsis;
}

.price {
  margin-right: 20px;
}

.order {
  display: flex;
  width: 100%;
}

.footer {
  padding: 30px 20px;
  background: #2f2f2f;
  color: white;
  display: flex;
  flex-direction: column;
}
.footer .footer__title {
  font-size: 24px;
  padding-bottom: 20px;
}

.footer a {
  color: white;
  text-decoration: none;
  padding-bottom: 20px;
}

.footer li {
  padding-bottom: 10px;
  list-style: none;
}

.fa-utensils,
.fa-hands-helping {
  font-size: 13px;
}

.fa-utensils {
  margin-right: 15px;
}

.fa-hands-helping {
  margin-right: 5px;
}

.localisation {
  display: flex;
  font-size: 17px;
  justify-content: center;
  padding: 15px;
  background: #e7e7e7;
}
.localisation .fas {
  padding-right: 10px;
}

.explo {
  display: block;
  background: whitesmoke;
  text-align: center;
  padding: 30px;
}
.explo .explo__title {
  font-size: 25px;
  padding: 10px 0px;
}
.explo .explo__text {
  padding-bottom: 30px;
  font-weight: 300;
}

.number {
  background-color: #9356dc;
  border-radius: 30px;
  padding: 3.5px 7.3px;
  color: white;
  font-size: 12px;
  position: absolute;
  left: 18px;
}

.Fonction {
  margin: 40px 20px;
}

.Fonction__box {
  display: flex;
  width: 97%;
  border-radius: 12px;
  margin: 30px;
  box-shadow: 1px -1px 4px 3px #dddddd;
  padding: 20px;
  margin-left: 8px;
  justify-content: center;
}
.Fonction__box:hover {
  background: #f4eafe;
}
.Fonction__box:hover i {
  color: #9356dc;
}

i {
  font-size: 17px;
  margin-right: 20px;
}

.Resto {
  padding: 40px 20px;
  background: #e7e7e7;
}
.Resto .Resto__box {
  background: white;
  border-radius: 10px;
  margin-top: 25px;
}

.Resto__box img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Resto__text p {
  font-size: 15px;
  font-weight: 300;
}

.Resto_link {
  text-decoration: none;
  color: black;
}

.Resto-text {
  line-height: 22px;
  margin: 13px;
  padding-bottom: 15px;
}

.new-resto {
  color: #008769;
  background: #99e2d0;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px;
}

/*# sourceMappingURL=main.css.map */
