// button accueil

.btn_pink {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: $border-radius-30;
  margin-bottom: 20px;
  color: white;
  border: none;
  padding: 15px 20px;
  outline: none;
  box-shadow: 2px 2px 4px rgb(184, 184, 184);
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 2px 1px gray;
    background: lighten($color: #d369b5, $amount: 2);
  }
}

// bouton commander

.btn_order {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: $border-radius-30;
  margin-bottom: 20px;
  color: white;
  border: none;
  padding: 15px 40px;
  outline: none;
  box-shadow: 2px 2px 4px rgb(184, 184, 184);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    box-shadow: 2px 2px 2px 1px gray;
    background: lighten($color: #d369b5, $amount: 2);
  }
}

@media only screen and (min-width: 1024px) {
  .btn_order {
    padding: 20px 60px;
    font-size: 15px;
  }
}
// Fleche retour index.html

.header__return {
  font-size: 28px;
  text-decoration: none;
  color: black;
  position: absolute;
  left: 20px;
  top: 14px;
}
