body {
  font-family: "Roboto", sans-serif;
}

h1,
.footer__title {
  font-family: "Shrikhand", cursive;
}

h3 {
  font-size: 22px;
  padding-top: $padding-10;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  display: block;
}

h5 {
  padding: $padding-10;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  display: block;
}
