// deroule menu
@keyframes box-menu {
  0% {
    opacity: 0;
    margin-top: -80px;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes box-menu-desktop {
  0% {
    opacity: 0;
    margin-top: -80px;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: 40px;
  }
}
// loader

@keyframes loader {
  100% {
    z-index: -10;
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// heart

.heart {
  display: flex;
  justify-content: flex-end;

  .fa-heart {
    margin-top: -40px;
    font-size: 23px;
  }
}

.heart .fas {
  opacity: 0;
  position: absolute;
  color: transparent;

  &:hover {
    opacity: 1;
    color: $primary;
    transform: scale(1);
    transition: 0.6s ease-out;
    background: linear-gradient($primary, $second);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// heart menu

.heart-menu {
  display: flex;
  justify-content: flex-end;

  .fa-heart {
    margin-top: -55px;
    margin-right: 30px;
    font-size: 26px;
  }
}

.heart-menu .fas {
  opacity: 0;
  position: absolute;
  color: transparent;

  &:hover {
    opacity: 1;
    color: $primary;
    transform: scale(1);
    transition: 0.6s ease-out;
    background: linear-gradient($primary, $second);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// loader

.loader {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #f3f3f3, $alpha: 0.9);
  animation: loader 100ms;
  animation-delay: 4s;
  animation-fill-mode: both;
}

.loader-double {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  border: solid 6px transparent;
  border-top-color: $tertiaire;
  border-bottom-color: $second;
  animation: spin 1.3s linear infinite;
}
.loader-double:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50px;
  border: solid 6px transparent;
  border-top-color: $primary;
  border-bottom-color: $primary;
  animation: spin 2s linear infinite;
}

// Check

.fa-check {
  background-color: white;
  border-radius: 50px;
  color: $tertiaire;
  padding: 1px 1px;
}

.check {
  display: none;
  background-color: $tertiaire;
}
.Meal-content:hover {
  & .check {
    display: block;
    position: relative;
    height: 90px;
    margin-top: -80px;
    margin-left: 90%;
    width: 95px;
    animation: check 0.5s;
    white-space: nowrap;
  }
  & .price {
    animation: check-price 0.5s;
    margin-right: 20%;
  }
  & .fa-check {
    margin: 50% 16%;
    animation: check-rotate 0.5s;
  }

  & .Meal-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@keyframes check {
  from {
    margin-left: 110%;
  }
  to {
    margin-left: 83%;
  }
}

@keyframes check-price {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: 20%;
  }
}

@keyframes check-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(720deg);
  }
}
