// deroule menu
@keyframes box-menu {
  0% {
    opacity: 0;
    margin-top: -80px;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes box-menu-desktop {
  0% {
    opacity: 0;
    margin-top: -80px;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: 40px;
  }
}
// loader

@keyframes loader {
  100% {
    z-index: -10;
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// check

@keyframes check {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 83%;
  }
}

@keyframes check-price {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: 20%;
  }
}

@keyframes check-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(720deg);
  }
}
