// Couleur
$primary: #9356dc;
$second: #ff79da;
$tertiaire: #99e2d0;
$back-1: rgba(231, 231, 231);
$back-2: rgba(245, 245, 245);
$new-resto: rgba(0, 135, 105);

// Padding

$padding-10: 10px;
$padding-30: 30px;

// Border
$border-radius-10: 10px;
$border-radius-30: 30px;
